body {
	
	background-color: #cccccc;
    background-image: radial-gradient(rgb(244, 100, 102),rgb(239, 239, 0));
	font-size: 1.05em;
}

#fejlec {
	border-width: 3px;
}

h1 {
	font-weight: bolder;
}

#főcím {
	text-shadow: 5px 5px 10px rgb(255, 189, 47);
}

h3{
	
	text-shadow: 5px 5px 10px rgb(255, 189, 47);
	font-variant: small-caps;
	font-size: 1em;
}

.hobbi{
	background-color: rgb(232, 245, 146);
	border: 2px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
	background-color: rgb(232, 245, 146);
}

nav li {
	
	
}

.lablec {
	background-color: rgb(88, 51, 20);
}

.lablec a {
	color: white;
	text-decoration: none;
	
}

.lablec a:hover {
	
}

.navbar {
	font-variant: small-caps;
	font-size: 1.2em;
	margin-left: 0;
	background-color: rgb(88, 51, 20);
}

#banan {
	
	
	font-size: 1.05em;
	line-height: 28px;
}
